In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark = SparkSession.builder.appName('sparksql').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/07 19:09:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/07 19:09:11 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
spark.sql("SELECT 1+1").show()

+-------+
|(1 + 1)|
+-------+
|      2|
+-------+

In [3]:
spark.read.json("data/flight-data/json/*.json").createOrReplaceTempView("flightsdata")

In [4]:
spark.sql("SELECT * FROM flightsdata where DEST_COUNTRY_NAME like 'S%'").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|             Senegal|      United States|   40|
|Saint Vincent and...|      United States|    1|
|               Samoa|      United States|   25|
|         Switzerland|      United States|  294|
|        Sint Maarten|      United States|  325|
|            Suriname|      United States|    1|
|              Sweden|      United States|  118|
|    Saint Barthelemy|      United States|   39|
|Saint Kitts and N...|      United States|  139|
|           Singapore|      United States|    3|
|        South Africa|      United States|   36|
|               Spain|      United States|  420|
|        Saudi Arabia|      United States|   83|
|         Saint Lucia|      United States|  123|
|         South Korea|      United States| 1048|
|             Senegal|      United States|   29|
|Saint Vincent and...|      United States|    1|
|               Samoa|      United States|   28|
|         Switzerland|      United States|  315|
|        Sint Maarten|      United States|   61|
+--------------------+-------------------+-----+
only showing top 20 rows

In [5]:
spark.sql("SELECT DEST_COUNTRY_NAME,count(1) FROM flightsdata group by DEST_COUNTRY_NAME").show()

+--------------------+--------+
|   DEST_COUNTRY_NAME|count(1)|
+--------------------+--------+
|            Anguilla|       6|
|              Russia|       6|
|            Paraguay|       6|
|             Senegal|       6|
|              Sweden|       6|
|            Kiribati|       6|
|              Guyana|       6|
|         Philippines|       6|
|            Djibouti|       1|
|            Malaysia|       5|
|           Singapore|       5|
|                Fiji|       6|
|              Turkey|       6|
|                Iraq|       1|
|             Germany|       6|
|         Afghanistan|       3|
|              Jordan|       6|
|               Palau|       6|
|Turks and Caicos ...|       6|
|              France|       6|
+--------------------+--------+
only showing top 20 rows

In [6]:
spark.sql("SELECT count(1) FROM flightsdata").show()

+--------+
|count(1)|
+--------+
|    1502|
+--------+

In [15]:
#CREATE MANAGED TABLE USING PARQUET FILES DIRECTLY. Here Spark manages both data and metadata
spark.sql("CREATE TABLE FLIGHTS_PQ (DEST_COUNTRY_NAME string,ORIGIN_COUNTRY_NAME string,count long) using parquet options (path '/Users/manikandanbellan/Documents/Learn/DEZoomcamp/spark/data/flight-data/parquet/*.parquet')"
         )

DataFrame[]

In [14]:
spark.sql("DROP TABLE FLIGHTS_JSON")

DataFrame[]

In [16]:
spark.sql("select * from flights_pq").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [24]:
spark.sql("select * from flights_pq where origin_country_name = 'India'").show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|              India|   69|
+-----------------+-------------------+-----+