In [1]:
import findspark
findspark.init()
import pyspark
import random
sc = pyspark.SparkContext(appName="Pi")
num_samples = 100000000
def inside(p):     
  x, y = random.random(), random.random()
  return x*x + y*y < 1
count = sc.parallelize(range(0, num_samples)).filter(inside).count()
pi = 4 * count / num_samples
print(pi)
sc.stop()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/27 19:08:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

3.14176328

In [14]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark = SparkSession.builder.appName('demo').getOrCreate()

In [15]:
df_green_taxi = spark.read.parquet('data/pq/green/*/*')

In [16]:
df_green_taxi = df_green_taxi \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [17]:
df_yellow_taxi = spark.read.parquet('data/pq/yellow/*/*')

In [18]:
df_yellow_taxi = df_yellow_taxi \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [19]:
common_colums = [
    'VendorID',
    'pickup_datetime',
    'dropoff_datetime',
    'store_and_fwd_flag',
    'RatecodeID',
    'PULocationID',
    'DOLocationID',
    'passenger_count',
    'trip_distance',
    'fare_amount',
    'extra',
    'mta_tax',
    'tip_amount',
    'tolls_amount',
    'improvement_surcharge',
    'total_amount',
    'payment_type',
    'congestion_surcharge'
]

In [20]:
df_green_sel = df_green_taxi \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

In [21]:
df_yellow_sel = df_yellow_taxi \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

In [22]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [24]:
df_trips_data.createOrReplaceTempView('taxi_trips_data')

In [25]:
df_final = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    taxi_trips_data
GROUP BY
    1, 2, 3
""")

In [26]:
df_final.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|           1|2020-03-01 00:00:00|       green|             58753.0|             73442.55|     172083.48000000365|          23834.7599999998|                        NULL|                    44926.50000006185|           2286101.750001396|                            224637.0|                      NULL|      1.1104101360986798|
|           2|2020-03-01 00:00:00|       green|              5258.0|               5986.5|      14844.77999999994|        2067.8099999999854|                        NULL|                    3736.500000000805|           196684.4399999786|                             19338.0|                      NULL|       1.195607843137255|
|           4|2020-02-01 00:00:00|       green|               776.5|                828.0|     2122.0799999999995|        173.18000000000006|                        NULL|                    521.1000000000123|           25684.35999999945|                              2678.0|                      NULL|      1.2450704225352112|
|           1|2019-12-01 00:00:00|       green|                 7.5|                  7.5|     10.370000000000001|                       0.0|                        NULL|                    5.099999999999999|          197.25000000000003|                                27.0|                      NULL|      1.4705882352941178|
|           5|2020-11-01 00:00:00|       green|               311.0|                600.0|     1656.2999999999988|        140.72000000000003|                        NULL|                    368.1000000000082|          18506.269999999735|                              1804.0|                      NULL|      1.1049233252623083|
|        NULL|2020-03-01 00:00:00|       green|              6107.1|               1292.5|     2218.1400000000003|        41173.940000001996|                        NULL|                   14057.099999989281|          1086539.2500001555|                                NULL|                      NULL|                    NULL|
|        NULL|2020-02-01 00:00:00|       green|  226815.58999999997|               5931.0|      533.4399999999998|         68278.98000000969|                        NULL|                    22415.69999996901|            2635219.16999981|                                NULL|                      NULL|                    NULL|
|           9|2020-10-01 00:00:00|       green|                 0.0|                  0.0|                   1.86|                       0.0|                        NULL|                                  0.6|                       21.16|                                 2.0|                      NULL|                     5.0|
|           9|2020-01-01 00:00:00|       green|                 0.0|                  0.0|                   1.86|                       0.0|                        NULL|                                  0.6|                       20.46|                                 3.0|                      NULL|                     5.0|
|           5|2020-02-01 00:00:00|       green|             3215.75|               4491.0|     12424.429999999984|         1117.779999999999|                        NULL|                    2720.700000000189|          133024.21000001053|                             13375.0|                      NULL|      1.0456576223166612|
|           4|2020-03-01 00:00:00|       green|              352.25|                428.5|     1078.0499999999997|        118.07000000000001|                        NULL|                    268.2000000000044|          13147.619999999872|                              1429.0|                      NULL|        1.20327868852459|
|           2|2020-10-01 00:00:00|       green|             1365.25|               1402.5|      4423.690000000002|         944.2400000000005|                        NULL|                    907.7999999999537|            54513.3800000014|                              4383.0|                      NULL|      1.3095470837406322|
|           1|2020-02-01 00:00:00|       green|           110189.31|            132772.05|     336713.97000002465|          38660.6700000008|                        NULL|                    80833.80000041018|           4078348.339987618|                            396260.0|                      NULL|       1.091224246502205|
|           7|2020-01-01 00:00:00|       green|                 0.0|                  0.0|      5.109999999999999|                      6.12|                        NULL|                                  2.1|          252.03000000000003|                                10.0|                      NULL|                     5.0|
|           1|2020-07-01 00:00:00|       green|            13136.75|              18573.5|     45522.219999999936|        12624.639999999998|                        NULL|                   11450.100000002876|           682260.9899998333|                             56429.0|                      NULL|       1.126954945624029|
|           3|2020-01-01 00:00:00|       green|              2385.5|               2343.5|      5236.390000000003|         821.7000000000003|                        NULL|                   1445.0999999998724|           74098.99000000463|                              7544.0|                      NULL|      1.1734693877551021|
|           4|2020-10-01 00:00:00|       green|               56.25|                 80.0|     237.35000000000002|                    159.12|                        NULL|                    50.09999999999988|          3035.0200000000036|                               227.0|                      NULL|      1.1676646706586826|
|           1|2020-04-01 00:00:00|       green|              7385.5|              10785.0|     23599.059999999983|          6597.18999999991|                        NULL|                    6640.800000002566|           377429.9299998946|                             34024.0|                      NULL|      1.1350310008857396|
|           6|2020-03-01 00:00:00|       green|               828.5|               1548.0|     3547.4000000000024|         290.4500000000001|                        NULL|                    930.5999999999502|          42810.350000000544|                              4704.0|                      NULL|      1.0077319587628866|
|           1|2010-09-01 00:00:00|       green|                 1.0|                  1.5|                   4.16|                       0.0|                        NULL|                   0.8999999999999999|                       38.56|                                 4.0|                      NULL|                     1.0|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [ ]:
df_final.col